# [作業目標]

1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

# 作業

### 1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

In [1]:
1、在異質數據的讀取、轉換和處理上，都讓分析人員更容易處理，例如：從列欄試算表中找到想要的值。
2、Pandas 提供兩種主要的資料結構，Series 與 DataFrame。Series 顧名思義就是用來處理時間序列相關的資料(如感測器資料等)，主要為建立索引的一維陣列
  。DataFrame 則是用來處理結構化(Table like)的資料，有列索引與欄標籤的二維資料集，例如關聯式資料庫、CSV 等等。
3、透過載入至 Pandas 的資料結構物件後，可以透過結構化物件所提供的方法，來快速地進行資料的前處理，如資料補值，空值去除或取代等。
4、更多的輸入來源及輸出整合性，例如：可以從資料庫讀取資料進入 Dataframe，也可將處理完的資料存回資料庫。

### 2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

In [7]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [12]:
print('df:\n',df , '\n')
print('type(df):\n',type(df), '\n')

df:
    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

type(df):
 <class 'pandas.core.frame.DataFrame'>

In [17]:
print('df.shape : \n',df.shape , '\n') 
print('df.size : \n', df.size , '\n') 
print('df.dtypes : \n', df.dtypes, '\n')
print('df.valuse : \n' , df.values , '\n')
print('df.index : \n' , df.index , '\n')
print('df.columns : \n' , df.columns , '\n')
print('len(df) : \n ', len(df) , '\n')

df.shape :
 (10, 4)

df.size :
 40

df.dtypes :
 Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

df.valuse :
 [['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]

df.index :
 RangeIndex(start=0, stop=10, step=1)

df.columns :
 Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

len(df) :
  10

In [ ]:
作業目標
在一個陣列中放入多屬性陣列，進一步對陣列做運算
作業重點
在建立結構化陣列前需要先設定屬性，在做運算時須注意資料屬性

題目:
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']
sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']
weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]
rank_list = [8,1,5,4,7,6,2,3]
myopia_list = [True,True,False,False,True,True,False,False]

    將上列list依照['name', 'sex', 'weight', 'rank', 'myopia']順序擺入array，並且資料型態順序擺入[Unicode,Unicode,float,int,boolean]
    呈上題，將array中體重(weight)數據集取出算出全部平均體重
    呈上題，進一步算出男生(sex欄位是boy)平均體重、女生(sex欄位是girl)平均體重

In [21]:
import numpy as np 

name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']
sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']
weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]
rank_list = [8,1,5,4,7,6,2,3]
myopia_list = [True,True,False,False,True,True,False,False]

In [23]:
#1. 將上列list依照['name', 'sex', 'weight', 'rank', 'myopia']順序擺入array，並且資料型態順序擺入[Unicode,Unicode,float,int,boolean]
student_type = {'names':('name', 'sex', 'weight', 'rank', 'myopia'), 'formats':('U10','U6','f8','i4','?')}
students = np.zeros(8,dtype=student_type)
students['name'] = name_list
students['sex'] = sex_list
students['weight'] = weight_list
students['rank'] = rank_list
students['myopia'] = myopia_list

In [24]:
#2. 呈上題，將array中體重(weight)數據集取出算出全部平均體重
np.mean(students['weight'])

69.8375

In [25]:
#3. 呈上題，進一步算出男生(sex欄位是boy)平均體重
boy_index = np.where(students['sex']=='boy')[0]
np.mean(students['weight'][boy_index])

77.18333333333332

In [28]:
#3. 呈上題，進一步算出女生(sex欄位是girl)平均體重
girl_index = np.where(students['sex']=='girl')[0]
np.mean(students['weight'][girl_index])

47.8