In [1]:
import pandas as pd

#讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案

#讀取boston.csv檔案，存成xlsx檔
print('1. 讀取boston.csv檔案，只取用CHAS、NOX和RM三個column，存成my_boston_data.csv。')
print('   列印出轉存成my_boston_data.csv內容如下:\n')
boston_data =  pd.read_csv('boston.csv', usecols = ['CHAS', 'NOX', 'RM'])
boston_data
boston_data.to_csv('my_boston_data.csv')
my_data = pd.read_csv('my_boston_data.csv')
my_data

1. 讀取boston.csv檔案，只取用CHAS、NOX和RM三個column，存成my_boston_data.csv。
   列印出轉存成my_boston_data.csv內容如下:

     Unnamed: 0  CHAS    NOX     RM
0             0   0.0  0.538  6.575
1             1   0.0  0.469  6.421
2             2   0.0  0.469  7.185
3             3   0.0  0.458  6.998
4             4   0.0  0.458  7.147
..          ...   ...    ...    ...
501         501   0.0  0.573  6.593
502         502   0.0  0.573  6.120
503         503   0.0  0.573  6.976
504         504   0.0  0.573  6.794
505         505   0.0  0.573  6.030

[506 rows x 4 columns]

In [2]:
import pandas as pd

#讀取boston.json檔案，存成xlsx檔

print('2. 讀取boston.json檔案，存成my_boston_data1.csv')
print('   列印出轉存成my_boston_data1.csv內容如下:\n')

boston_data1 =  pd.read_json('boston.json')
boston_data1
boston_data.to_csv('my_boston_data1.csv')
my_data1 = pd.read_csv('my_boston_data1.csv')
my_data1

2. 讀取boston.json檔案，存成my_boston_data1.csv
   列印出轉存成my_boston_data1.csv內容如下:

     Unnamed: 0  CHAS    NOX     RM
0             0   0.0  0.538  6.575
1             1   0.0  0.469  6.421
2             2   0.0  0.469  7.185
3             3   0.0  0.458  6.998
4             4   0.0  0.458  7.147
..          ...   ...    ...    ...
501         501   0.0  0.573  6.593
502         502   0.0  0.573  6.120
503         503   0.0  0.573  6.976
504         504   0.0  0.573  6.794
505         505   0.0  0.573  6.030

[506 rows x 4 columns]

In [4]:
import pandas as pd
import sqlite3
import io

print('3. 讀取data.sqlite檔案，建立 my_iris表單')

con = sqlite3.connect('data.sqlite')
sqldb = ''' CREATE TABLE "my_iris3"\
("sepal length" FLOAT PRIMARY KEY NOT NULL,
 "sepal width" FLOAT NOT NULL,
 "petal length" FLOAT NOT NULL,
 "petal width" FLOAT NOT NULL,
 "taget" INTEGER NOT NULL)
 '''
con.execute(sqldb)
con.commit()
con.close()

3. 讀取data.sqlite檔案，建立 my_iris表單

In [9]:
import pandas as pd

#讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案

#讀取boston.csv檔案，存成xlsx檔
print('4. 讀取data.xls檔案，只取用CHAS、NOX和RM三個column，存成my_data.xls。')
print('   列印出轉存成my_data.xls內容如下:\n')
boston_data =  pd.read_excel('data.xls', usecols = ['CHAS', 'NOX', 'RM'])
boston_data
boston_data.to_excel('my_data.xls')
my_data = pd.read_excel('my_data.xls')
my_data

4. 讀取data.xls檔案，只取用CHAS、NOX和RM三個column，存成my_data.xls。
   列印出轉存成my_data.xls內容如下:

ValueError: Usecols do not match columns, columns expected but not found: ['RM', 'CHAS', 'NOX']