# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [1]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

In [19]:
df1 = pd.DataFrame ({
    'Apple': [30],
    'Bananas': [21] })

df2 = pd.DataFrame ({
    'Name': ['2017 Sales', '2018 Sales'],
    'Apple': [35,41],
    'Bananas': [21,34] })

print(df1)
print()
print(df2)

   Apple  Bananas
0     30       21

         Name  Apple  Bananas
0  2017 Sales     35       21
1  2018 Sales     41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [25]:
df3 = pd.DataFrame ([[ 'Austin',139,'Sun'],['Dallas',237,'Sun'],['Austin',326,'Mon'],['Dallas',456,'Mon']],
                    columns=["city", "visitor", "weekday"])
df3

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [26]:
sun = df3[df3.weekday == "Sun"]["visitor"].mean()
mon = df3[df3.weekday == "Mon"]["visitor"].mean()
print("Average visitors on Sun. : ", sun)
print("Average visitors on Mon. : ", mon)

Average visitors on Sun. :  188.0
Average visitors on Mon. :  391.0