# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [3]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print('df1: \n')
print(df1)
print()
print('df2: \n')
print(df2)

df1:

    fruit  weight  price
0   apple    high      5
1  banana  medium      3
2  orange     low     10
3   apple    high     14
4  banana  medium      2
5  orange     low      8
6   apple    high      6
7  banana  medium      8
8  orange     low      4

df2:

    fruit weight  price
0   apple   high      8
1  orange    low     12
2    pine   high      5
3   apple    low      4
4  orange   high      1
5    pine    low      2

In [15]:
# - 依照 fruit 欄位做合併

df_merge = pd.merge(df1, df2, on='fruit')
print(df_merge)

     fruit weight_x  price_x weight_y  price_y
0    apple     high        5     high        8
1    apple     high        5      low        4
2    apple     high       14     high        8
3    apple     high       14      low        4
4    apple     high        6     high        8
5    apple     high        6      low        4
6   orange      low       10      low       12
7   orange      low       10     high        1
8   orange      low        8      low       12
9   orange      low        8     high        1
10  orange      low        4      low       12
11  orange      low        4     high        1

In [19]:
# - 依照 index 索引做合併
df_index = pd.merge(df1, df2, how=left, on='index')
print(df_index)

NameError: name 'left' is not defined

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [ ]:
因為merge是選取兩個DataFrame均有的欄位作為合併。banana因為只出現在df1所以merge之後消失了。

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [ ]:
ans: 因為兩個資料的index數並不相等

In [22]:
#using merge 
df3 = pd.merge(df1, df2, left_index=True, right_index=True)
df3

  fruit_x weight_x  price_x fruit_y weight_y  price_y
0   apple     high        5   apple     high        8
1  banana   medium        3  orange      low       12
2  orange      low       10    pine     high        5
3   apple     high       14   apple      low        4
4  banana   medium        2  orange     high        1
5  orange      low        8    pine      low        2

In [23]:
#using concat
df4 = pd.concat([df1, df2], axis=1)
df4

    fruit  weight  price   fruit weight  price
0   apple    high      5   apple   high    8.0
1  banana  medium      3  orange    low   12.0
2  orange     low     10    pine   high    5.0
3   apple    high     14   apple    low    4.0
4  banana  medium      2  orange   high    1.0
5  orange     low      8    pine    low    2.0
6   apple    high      6     NaN    NaN    NaN
7  banana  medium      8     NaN    NaN    NaN
8  orange     low      4     NaN    NaN    NaN