## 作業
在鐵達尼資料集中，
透過進階補值方法 KNN，將鐵達尼號中的 Titanic_train
.csv 中的 age 的遺失值進行補值。    
* step1: 觀察 Age 和 Pclass 與 Sex 是否有關連性?
* step2: 如果有關連性，運用 KNN ，取出 Age 、 Pclass、 Sex的資料，以 Sex 與 Pclass 補 Age 遺失值。

In [39]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display
import sklearn
%matplotlib inline
import csv

#讀入資料
#用字典產生一組資料
data={'sex': ['Male','Male','Male','Male','Male','Female','Female','Female','Female','Female'],
     'age':[23,40,5,30,1,40,16,27,43,8],
     'height':[180,170,100,176,70,160,170,166,155,np.NAN],
     'weight':[100,68,20,np.NAN,10,np.NAN,50,58,58,17]}
#轉成 dataframe格式 
data=pd.DataFrame(data)
display(data)

print("計算每一行是否有遺失值，計算遺失比例")
missing_vals = data.isnull().sum()/len(data)
missing_vals.sort_values(ascending=False)
missing_vals = pd.DataFrame(missing_vals,columns=['missing_rate'])
print(missing_vals)

#

      sex  age  height  weight
0    Male   23   180.0   100.0
1    Male   40   170.0    68.0
2    Male    5   100.0    20.0
3    Male   30   176.0     NaN
4    Male    1    70.0    10.0
5  Female   40   160.0     NaN
6  Female   16   170.0    50.0
7  Female   27   166.0    58.0
8  Female   43   155.0    58.0
9  Female    8     NaN    17.0

計算每一行是否有遺失值，計算遺失比例
        missing_rate
sex              0.0
age              0.0
height           0.1
weight           0.2

## 讀入資料

## 觀察 Age